<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Vocabulary
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button color="light" (click)=dismiss();>
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p class="lecture_title">VOCABULARY LECTURE</p><br>
  <p class="lecture_content">
    Nunc iaculis efficitur tortor, ut convallis justo volutpat in. Aliquam
    mattis augue congue est suscipit, ullamcorper lobortis metus lacinia. Nam a
    lorem mollis, elementum risus sed, dignissim libero. Phasellus nec nisi
    nisi. Nunc hendrerit finibus urna, eu ornare mauris bibendum a. Donec quis
    viverra lectus.
  </p>
  <ion-card padding class="card_remember">
    <p class="remember">Remember:</p>
    <p class="remember_content">Ut eget justo ultricies, volutpat orci quis,
      convallis libero. In
      suscipit tortor vitae pulvinar malesuada. Aliquam efficitur vestibulum
      pharetra.</p>
  </ion-card>
  <p class="lecture_content">
    Curabitur vulputate, magna a tempus tristique, urna tortor luctus felis,
    quis mollis ipsum nisi nec massa. Sed rhoncus nisi imperdiet imperdiet
    fringilla.
  </p>
  <p class="lecture_content">
    Phasellus condimentum mollis nunc, eu pulvinar ante venenatis ut. Sed risus
    nibh, dignissim vitae placerat non, euismod sit amet odio. Fusce in tempor
    sapien, auctor scelerisque turpis. Nunc sollicitudin sit amet lorem in
    viverra. Proin ultricies nisi in eleifend dictum.
  </p>
  <ion-card padding class="card_sample">
    <p class="sample">Example:</p>
    <p class="sample_content">Donec maximus scelerisque nunc, id convallis augue
      interdum.</p>
    <p class="sample_content">Sed tempus pulvinar arcu ac congue.</p><br>
  </ion-card>
  <p class="lecture_content">
    Nunc sollicitudin sit amet lorem in
    viverra. Proin ultricies nisi in eleifend dictum. Fusce in tempor
    sapien, auctor scelerisque turpis.
  </p><br>
  <ion-button shape="round" expand="block"
  (click)=dismiss(); color="primary">Done with this lecture</ion-button>
</ion-content>
