.lecture_title{
    text-align: center;
    color:#00008b;
    font-weight: bold;
}

.lecture_content{
    text-align: justify;
    text-indent: 50px;
    font-size:1em;
    color:#434b51;
}

.card_remember{
 background-color: #f0f1f5;
 border-bottom:solid 2px #8b0000;
}

.remember{
    color:#8b0000;
    font-size:1em;
    font-style: italic;
}

.remember_content{
    color:#434b51;
    font-size:1em;
}

.card_sample{
    background-color: #f0f1f5;
    border-bottom:solid 2px #00008b;
}

.sample{
    color:#00008b;
    font-size:1em;
    font-style: italic;
}

.sample_content{
    color:#434b51;
    font-size:1em;
}