<ion-header>
  <ion-toolbar class="primary" [class.show-background]="showToolbar">
    <ion-title class="banner-title">Account Settings</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)=dismiss()>
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="page-content">
  <div class="panel-header-account">
    <ion-img class="img-icon" src="../../assets/imgs/logo_new.svg"></ion-img>
    <ion-card color="light">
      <ion-card-content>
        <ion-text class="about-text">
          <div class="panel-header-register">

            <div class="textboxes">
              <ion-item>
                <ion-label>Examinee Type :</ion-label>
                <ion-input value="Sub Professional" readonly></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="fixed">Firstname :</ion-label>
                <ion-input type="text" placeholder="Firstname"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="fixed">Surname :</ion-label>
                <ion-input type="text" placeholder="Surname"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="fixed">Username :</ion-label>
                <ion-input type="text" placeholder="Username"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="fixed" style="white-space:normal;">Current
                  Password :</ion-label>
                <ion-input type="password" placeholder="Current Password"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="fixed" style="white-space:normal;">New
                  Password :</ion-label>
                <ion-input type="password" placeholder="New Password"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="fixed" style="white-space:normal;">Confirm
                  New
                  Password :</ion-label>
                <ion-input type="password" placeholder="Confirm New Password"
                  style="white-space:normal;"></ion-input>
              </ion-item><br>

              <ion-button expand="block" fill="outline" shape="round">Update</ion-button>
            </div>
          </div>
        </ion-text>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
