<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Examination
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="wholePage">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <p class="subject">Clerical Operations</p>
      </ion-col>
      <ion-col size="6">
        <p class="timer">10:00</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <p class="question">He is the highest ranking executive manager in a
    corporation and he is the top person in command in an organization.</p><br><br>

    <ion-radio-group>

  <ion-card class="choices">
    <ion-item>
      <ion-radio slot="start"></ion-radio>
      <ion-label class="choices_content">Chief Financial Executive</ion-label>
    </ion-item>
  </ion-card>

  <ion-card class="choices">
    <ion-item>
      <ion-radio slot="start"></ion-radio>
      <ion-label class="choices_content">Chief Executive Officer</ion-label>
    </ion-item>
  </ion-card>

  <ion-card class="choices">
    <ion-item>
      <ion-radio slot="start"></ion-radio>
      <ion-label class="choices_content">Chief Admin Officer</ion-label>
    </ion-item>
  </ion-card>

  <ion-card class="choices">
    <ion-item>
      <ion-radio slot="start"></ion-radio>
      <ion-label class="choices_content">Chief Executive Assistant</ion-label>
    </ion-item>
  </ion-card><br>
</ion-radio-group><br><br>

<ion-button color="secondary" fill="outline" shape="round">Prev</ion-button>
<ion-button color="primary" fill="outline" shape="round" class="next">Next</ion-button>

</ion-content>
