.wholePage{
    --ion-background-color: #f0f1f5;
}
.mockexam{
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
}
.subject{
    font-size: 1em;
    color:#00008b;
}
.timer{
    text-align: end;
    font-weight: bold;
    font-size: 1em;
    color:#00008b;
}
.question{
    text-align: center;
}
.choices{
    border-radius:100px;
    --ion-background-color:white !important;
}
.choices_content{
    white-space: normal;
}
.next{
    float:right;
}