<ion-card-header class="user_name">
  <ion-card-title>Wilinda Dedase</ion-card-title>
  <ion-card-subtitle>Sub Professional</ion-card-subtitle>
</ion-card-header>

<div padding>
  <ion-button style="text-align:right;" size="small" fill="clear" color="dark"
    (click)="accountsettings($event);">
    <ion-icon slot="start" name="settings"></ion-icon>Account Settings
  </ion-button><br>
  <ion-button style="text-align:right;" size="small" fill="clear" color="dark"
    (click)="about();">
    <ion-icon slot="start" name="information-circle"></ion-icon>About Us
  </ion-button><br>
  <ion-button style="text-align:right;" size="small" fill="clear" color="dark"
    (click)="rateUs();">
    <ion-icon slot="start" name="star"></ion-icon>Rate Us
  </ion-button><br>
  <ion-button style="text-align:right;" size="small" fill="clear" color="secondary"
    routerLink="/" (click)="close($event);">
    <ion-icon slot="start" name="log-out"></ion-icon>Logout
  </ion-button>
</div>