<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Vocabulary
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button color="light" (click)="infoPopup($event)">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="wholePage">

  <ion-card padding (click)="openLecture();">
    <ion-label>Lecture 1</ion-label>
  </ion-card>

  <ion-card padding (click)="openLecture();">
    <ion-label>Lecture 2</ion-label>
  </ion-card>

  <ion-card padding (click)="openLecture();">
    <ion-label>Lecture 3</ion-label>
  </ion-card>

  <ion-card padding (click)="openLecture();">
    <ion-label>Lecture 4</ion-label>
  </ion-card>

  <ion-card padding (click)="openLecture();">
    <ion-label>Lecture 5</ion-label>
  </ion-card>

  <ion-card padding (click)="openLecture();">
    <ion-label>Lecture 6</ion-label>
  </ion-card>

  <ion-card padding (click)="openLecture();">
    <ion-label>Lecture 7</ion-label>
  </ion-card>

  <ion-card padding (click)="openLecture();">
    <ion-label>Lecture 8</ion-label>
  </ion-card>

  <ion-card padding (click)="openLecture();">
    <ion-label>Lecture 9</ion-label>
  </ion-card>

  <ion-card padding (click)="openLecture();">
    <ion-label>Lecture 10</ion-label>
  </ion-card>

  <ion-card padding class="card_quiz" routerLink="/exam">
    <ion-label>Take Quiz</ion-label>
  </ion-card>

</ion-content>
