ion-content{
    --ion-background-color:#f0f1f5;
}

ion-card{
    background-color:#fff;
    border-left:solid 2px #00008b;
    color:#00008b;
}

.card_quiz{
    border-left:solid 2px #8b0000;
    color:#8b0000;
}