<ion-header>
    <ion-toolbar class="primary" [class.show-background]="showToolbar">
      <ion-title class="banner-title">About</ion-title>
      <ion-buttons slot="primary">
        <ion-button color="light" (click)=dismiss()>
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="page-content">
    <div class="panel-header-about">
      <ion-img class="img-icon" src="../../assets/imgs/logo_new.svg"></ion-img>
  
      <ion-card color="light">
        <ion-card-header>
          <ion-text color="dark">
            <h4 class="about-title">About CSE Reviewer</h4>
          </ion-text>
        </ion-card-header>
        <ion-card-content>
          <ion-text class="about-text">
            <p>Roadeo is a user friendly and fully functional mobile application created to help each individual who are
              always nakikipagbuno/hitting the road and experiencing the same old problems over and over about traffic and
              car issues. This mobile application aims to educate the community, notify the users, store necessary vehicle
              information and save lives at the least it can do through inclusion of important car reminders and
              innovative functionalities. <br><br>
            </p>
            <p>
              This project is made possible by TechMates IT Consultancy Services who are specializing in developing Web
              and Mobile Applications, this team is composed of enthusiastic individuals when it comes on creating
              innovative and powerful applications.
            </p><br><br>
            <span style="text-align:center;color:gray;">powered by:</span><br>
            <img src="../../assets/imgs/tm.svg">
          </ion-text>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
