.wholePage{
    --background-color:#f0f1f5;
    text-align: center;
}
.instruction{
    padding-top:35px;
    font-size:20px;
    color:#00008b;
    font-weight: bold;

}

.content{
    color:#434b51;
    font-size:14px;
}

.spans{
    color:#00008b;
    font-weight: bold;
}