<ion-content padding class="wholePage">
  <p class="instruction">Instruction</p><br>
  <p class="content">Please read all questions carefully and make sure you
    understand the facts before you begin answering <br><br>
    This exam is composed of questions from all the lectures included on this
    reviewer.<br><br>
    If you're ready to take this exam just click the button below. <br><br><span
      class="spans">Goodluck!</span></p><br><br>
      <ion-button color="primary" shape="round" fill="outline" expand="block"
      (click)="start();">Let's Start</ion-button>
    <ion-button color="secondary" shape="round" fill="outline" expand="block"
    (click)="notnow();">Not now</ion-button>
</ion-content>
