<ion-content >
  <div class="panel-header-login" padding>
  <ion-img src="../assets/imgs/logo_new.svg" class="logo"></ion-img>
  <br>

  <div class="textboxes" padding>
    <ion-item style="color:white;">
      <ion-label position="fixed">Username</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="fixed" color="light">Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <ion-button color="light" expand="block" fill="outline" shape="round" routerLink="/home">Login</ion-button><br>
    <ion-label class="want_account">Want to have an account? <span
        routerLink="/register" class="signup">Sign up!</span></ion-label>

  </div>
</div>
</ion-content>
