.panel-header-login {
    height: 100%;
    background-color:#f5f5f6 !important;
    background-image: linear-gradient(#00008b,#8b0000);
    text-align: center;
}

.logo{
    height:250px;
    width:auto;
    margin:auto;
    display:block;
    padding-top:10%;
}

.textboxes{
    padding-top:25%;
    --background: transparent !important;
}

ion-item{
    --background: transparent !important;
    color:white;
}

.want_account{
    font-size:1em;
    text-align: center;
    color:white;
}

.signup{
    text-decoration:underline;
    font-weight: bold;
}