<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-content>
          <ion-menu-toggle auto-hide="false" >
          <ion-list class="panel-header">
            <ion-img src="../assets/imgs/logo_new.svg" class="nav_logo"></ion-img><br>

            <ion-item routerLink="/home" class="nav_item">
              <!-- <ion-icon slot="start" name="ribbon" class="nav_icons"></ion-icon> -->
              <label class="nav_label">Dashboard</label>
            </ion-item>

            <ion-item class="nav_item" style="background-color:rgba(0,0,0,0.2);">
                <!-- <ion-icon slot="start" name="ribbon" class="nav_icons"></ion-icon> -->
                <label class="nav_label">Lectures</label>
            </ion-item>

            <ion-item-group style="padding-left:25px;" >
              <ion-item routerLink="/lecture-list" class="nav_item">
                <!-- <ion-icon slot="start" name="ribbon" class="nav_icons"></ion-icon> -->
                <label class="nav_label">Vocabulary</label>
              </ion-item>
              <ion-item routerLink="/lecture-list" class="nav_item">
                <!-- <ion-icon slot="start" name="man" class="nav_icons"></ion-icon> -->
                <label class="nav_label">Grammar</label>
              </ion-item>
              <ion-item routerLink="/lecture-list" class="nav_item">
                <!-- <ion-icon slot="start" name="ribbon" class="nav_icons"></ion-icon> -->
                <label class="nav_label">Paragraph Organization</label>
              </ion-item>
              <ion-item routerLink="/lecture-list" class="nav_item">
                <!-- <ion-icon slot="start" name="man" class="nav_icons"></ion-icon> -->
                <label class="nav_label">Reading Comprehension</label>
              </ion-item>
              <ion-item routerLink="/lecture-list" class="nav_item">
                <!-- <ion-icon slot="start" name="ribbon" class="nav_icons"></ion-icon> -->
                <label class="nav_label">Numerical Reasoning</label>
              </ion-item>
              <ion-item routerLink="/lecture-list" class="nav_item">
                <!-- <ion-icon slot="start" name="man" class="nav_icons"></ion-icon> -->
                <label class="nav_label">Spelling</label>
              </ion-item>
              <ion-item routerLink="/lecture-list" class="nav_item">
                <!-- <ion-icon slot="start" name="ribbon" class="nav_icons"></ion-icon> -->
                <label class="nav_label">Clerical Operations</label>
              </ion-item>
              <ion-item routerLink="/lecture-list" class="nav_item">
                <!-- <ion-icon slot="start" name="man" class="nav_icons"></ion-icon> -->
                <label class="nav_label">Philippine Constitution</label>
              </ion-item>
              <ion-item routerLink="/lecture-list" class="nav_item">
                <!-- <ion-icon slot="start" name="ribbon" class="nav_icons"></ion-icon> -->
                <label class="nav_label">Code of conduct</label>
              </ion-item>
              <ion-item routerLink="/lecture-list" class="nav_item">
                <!-- <ion-icon slot="start" name="man" class="nav_icons"></ion-icon> -->
                <label class="nav_label">Peace and Human Rights</label>
              </ion-item>
              <ion-item routerLink="/lecture-list" class="nav_item">
                <!-- <ion-icon slot="start" name="man" class="nav_icons"></ion-icon> -->
                <label class="nav_label">Environment Management</label>
              </ion-item>
            </ion-item-group>

            <ion-item class="nav_item" style="background-color:rgba(0,0,0,0.2);">
                <!-- <ion-icon slot="start" name="ribbon" class="nav_icons"></ion-icon> -->
                <label class="nav_label">Exams</label>
            </ion-item>

            <ion-item-group style="padding-left:25px;" >
              <!-- <ion-item routerLink="/lecture-exam" class="nav_item">
                <ion-icon slot="start" name="ribbon" class="nav_icons"></ion-icon>
                <label class="nav_label">Lecture exam</label>
              </ion-item> -->
              <ion-item routerLink="/exam" class="nav_item">
                <!-- <ion-icon slot="start" name="man" class="nav_icons"></ion-icon> -->
                <label class="nav_label">Mock exam</label>
              </ion-item>
            </ion-item-group>

          </ion-list>
        </ion-menu-toggle>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
