.wholePage{
    --ion-background-color:#f0f1f5;
}
ion-card{
    // background-color:#00008b;
    // border-bottom: 3px solid#00008b;
    height:100px;
    color:white;
    text-align: center;
    background-image: linear-gradient(#00008b,#8b0000);
  
}