<ion-header>
    <ion-toolbar color="primary" >
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Lecture Exam
      </ion-title>
      <ion-buttons slot="primary">
        <ion-button color="light" (click)="infoPopup($event)">
          <ion-icon slot="icon-only" name="person"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content class="wholePage">
  <ion-row>
    <ion-col size="6">
        <ion-card padding>
            <ion-label>Vocabulary</ion-label>
          </ion-card>
    </ion-col>
    <ion-col size="6">
        <ion-card padding>
            <ion-label>Gammar</ion-label>
          </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6">
        <ion-card padding>
            <ion-label>Paragraph Organization</ion-label>
          </ion-card>
    </ion-col>
    <ion-col size="6">
        <ion-card padding>
            <ion-label>Reading Comprehension</ion-label>
          </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6">
        <ion-card padding>
            <ion-label>Numerical Reasoning</ion-label>
          </ion-card>
    </ion-col>
    <ion-col size="6">
        <ion-card padding>
            <ion-label>Spelling</ion-label>
          </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6">
        <ion-card padding>
            <ion-label>Clerical Operations</ion-label>
          </ion-card>
    </ion-col>
    <ion-col size="6">
        <ion-card padding>
            <ion-label>Philippine Constitution</ion-label>
          </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6">
        <ion-card padding>
            <ion-label>Code of conduct</ion-label>
          </ion-card>
    </ion-col>
    <ion-col size="6">
        <ion-card padding>
            <ion-label>Peace and Human Rights</ion-label>
          </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6">
        <ion-card padding>
            <ion-label>Environment Management</ion-label>
          </ion-card>
    </ion-col>

  </ion-row>

</ion-content>

