// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.panel-header {
    height: auto;
    background-color:#f5f5f6 !important;
    background-image: linear-gradient(#00008b,#8b0000);
    text-align: center;
   
}

.panel-header-lg {
    height: 380px;
}

.nav_logo{
    height:160px;
    width:auto;
    margin:auto;
    display:block;
    margin-top:10%;
}

.nav_item{
    --background: transparent;
}

.nav_icons{
    color:white;
}

.nav_label{
    color:white;
}