.wholeContent{
  --ion-background-color: #f0f1f5;
}

.panel-header-home {
  height: 210px;
  background-color:blue !important;
  background-image: linear-gradient(#00008b,#8b0000);
}

.img-icon {
  width: 50%;
  display: block;
  margin: 0 auto;
}

ion-toolbar{
  --background: transparent;
  --ion-color-base: transparent !important;
  background-color: transparent;
}

.page-content{
  --ion-background-color:#f5f5f6;
}

 ion-card{
  --ion-background-color:#fff;
 }

.show-background {
  border-style: none;
  background: var(--ion-color-primary);
  color: var(--ion-color-light);
}

.header-md::after {
  background-image: none;
}

.header-ios ion-toolbar:last-child {
  --border-width: 0;
}

scroll-content {
  border-top: 0 !important;
  margin-top: 0 !important;
}

.about-title {
  text-transform: uppercase;
}

.about-text {

}

img {
  width: 80%;
  height: 80%;
  padding-left: 20%;
}



ion-card{
  height: 100px;
}
