<ion-header>
  <ion-toolbar class="primary" [class.show-background]="showToolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="banner-title">Home</ion-title>
    <ion-buttons slot="primary">
      <ion-button color="light" (click)="infoPopup($event)">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="page-content">
  <div class="panel-header-home">
    <!-- <ion-refresher slot="fixed"  pullFactor="0.3" pullMin="100" pullMax="500" (ionRefresh)="doRefresh($event)">
          <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing...">
          </ion-refresher-content>
        </ion-refresher> -->
    <ion-img class="img-icon" src="../../assets/imgs/logo_new.svg"></ion-img>
    <ion-row>
      <ion-col size="6">
        <ion-card color="light">
          <ion-card-content>
            <ion-text class="about-text">
              <p>Some content here</p>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card color="light">
          <ion-card-content>
            <ion-text class="about-text">
              <p>Some content here</p>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-card color="light">
      <ion-card-content>
        <ion-text class="about-text">
          <p>Some content here</p>
        </ion-text>
      </ion-card-content>
    </ion-card>

    <ion-card color="light">
      <ion-card-content>
        <ion-text class="about-text">
          <p>Some content here</p>
        </ion-text>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
