<ion-content>
  <div class="panel-header-register" padding>
    <ion-img src="../assets/imgs/logo_new.svg" class="logo"></ion-img>
    <br>

    <div class="textboxes" padding>
      <ion-item>
        <ion-label>Examinee Type</ion-label>
        <ion-select placeholder="Select">
          <ion-select-option value="sub">Sub Professional</ion-select-option>
          <ion-select-option value="pro">Professional</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item style="color:white;">
        <ion-label position="fixed">Firstname</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="fixed" color="light">Surname</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item style="color:white;">
        <ion-label position="fixed">Username</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="fixed" color="light">Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="fixed" color="light" style="white-space: normal">Confirm
          Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item><br>

      <ion-button color="light" expand="block" fill="outline" shape="round">Create
        Account</ion-button>
      <ion-button color="light" expand="block" fill="outline" shape="round"
        routerLink="/">Cancel</ion-button>
    </div>
  </div>
</ion-content>