ion-toolbar{
    --background: transparent;
    --ion-color-base: transparent !important;
  }  

.panel-header-register {
    height: auto;
    background-color:#f5f5f6 !important;
    background-image: linear-gradient(#00008b,#8b0000);
    text-align: center;
}

@media(max-width:640px){
    .panel-header-register {
        height: 100%;
        background-color:#f5f5f6 !important;
        background-image: linear-gradient(#00008b,#8b0000);
        text-align: center;
    }
}

.logo{
    height:160px;
    width:auto;
    margin:auto;
    display:block;
    // padding-top:3%;
}

.textboxes{
    padding-top:5%;
    --background: transparent !important;
}

ion-item{
    --background: transparent !important;
    color:white;
    white-space: normal
}
 ion-input{
    white-space: normal
 }
